@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body
    width 100%
    margin 0
    padding 0
    background #FFFAE6
    font-family: Montserrat
    text-align center

.content
    width 1100px
    height 550px
    margin-top 55px
    margin-bottom 95px
    margin-left 50px
    margin-right 50px
    background #FFFFFF
    box-shadow 2px 10px 20px rgba(255, 138, 0, 0.1)
    border-radius 4px
    display inline-block

.stepper
    width 500px
    height 70px
    background #FFFAE6
    margin-top -30px
    margin-left 25%
    border-radius 20px
    justify-content center

.step
    float left
    width 69.75%
    height auto
    text-align left
    margin-top 30px

.summary
    float left
    width 29.25%
    margin-top 30px
    border-left #FF8A00 1px solid

.row:after {
    content: "";
    display: table;
    clear: both;
}

.step-content
    height 450px
    text-align left
    margin-left 40px
    position relative

form
    margin-top 36px

input[type="text"]
    font-family Montserrat
    width 380px
    height 30px
    margin-top 5px
    margin-bottom 5px
    padding 15px

input[type="text"] .valid
    border #1BD97B 2px solid

input[type="text"] .invalid
    border #FF8A00 2px solid

textarea
    font-family Montserrat
    width 380px
    height 90px
    margin-top 5px
    margin-bottom 5px
    padding 15px

.summary-content
    height 450px
    text-align left
    padding-left 19px
    position relative

.step-label
    font-size 36px
    font-weight bold
    color #FF8A00

.summary-label
    font-size 24px
    font-weight bold
    color #FF8A00
p
    font-size 14px
    margin-bottom 0

.font-green
    color #1BD97B
    margin-top 0

hr
     width 30%
     text-align left
     margin-left 0
     margin-top 15px

.summary-bottom
     position absolute
     bottom 0

.btn-primary
     width 260px
     height 60px
     margin-top 10px
     background #FF8A00
     color white
     font-size 16px
     text-decoration none
     border-radius 4px

table
    width 100%
td
    font-size 14px
    padding-top 3px
    padding-bottom 3px

.price
    font-weight bold
    text-align right

.total
    font-size 24px
    font-weight bold
    padding-top 15px
    color #FF8A00
